@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h5{
  font-size: 0.8rem;
}
.centralizado{
  display: flex;
  align-items: center;
  justify-content: center;
}
.marrom{
  background: #1D0E05;
}
.col-md-12{
  padding-right: 0;
  padding-left:0;
}
.container{
  max-width: 900px;
  max-height: 500px;
  box-sizing: border-box;
  overflow: hidden;
}
/*==========================MONITOR==========================*/
body{
  background: #1D0E05;
}
header{
  margin: 0 auto;
  max-width: 900px;
  height: 100px;
  display: flex;
  background: url(../_img/bg_titulo.jpg) center no-repeat;
  background-size: cover;
}
#esquerda img{
  height: 90px;
  margin-left: 20px;
  margin-top: 4px;
}
#esquerda span img{
  display: none;
}
#direita img{
  display: none;
  z-index: 50;
}
#btn_fechar_celuar a{
  display: none;
}
#galeria{
  max-width: 900px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}
#galeria img{
  height: 150%;
}
#bemvindo{
  max-width: 900px;
  margin: 0 auto;
  height: 150px;
  background: url(../_img/divisor1.jpg) no-repeat center, url(../_img/bg_titulo.jpg) no-repeat;
  background-size: auto 115%, cover;
  border-bottom: 3px solid #1D0E05;
}
#mensagem{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: arial, sans-serif;
  text-indent: 30px;
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.4em;
  background: url(../_img/bg.jpg) center no-repeat;
  background-size: cover;
  color: #1D0E05;

}
.citar::before{
  content: '“';
  position: relative;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 10px;
  font-size: 80px;
  font-family: 'Fredoka One', cursive;
  color: #1D0E05;
}
footer{
  background-color: #1D0E05;
  width: 100%;
  overflow: hidden;
}
footer img{
  height: 55px;
}
#copyright{
  clear: both;
  background: #F7EDE3;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: normal;
  max-width: 900px;
  margin: 0 auto;
  color: #1D0E05;
}
/*==== MENU > MONITOR =====*/
#direita{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 90px);
  margin-right: 20px;
}
nav ul{
  list-style: none;
  padding: 0;
}
nav ul li{
  display: inline-block;
  border: 1px solid rgba(29, 14, 5, .5);
  border-radius: 5px;
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: rgba(29, 14, 5, .5);
  text-transform: uppercase;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin-left: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}
nav ul li.ativo{
  border-top-color: rgba(252, 219, 20,.8);
  border-bottom-color: rgba(252, 219, 20,.8);
}
nav ul li:hover{
  border-top-color: rgba(255,102,0,.5);
  border-bottom-color: rgba(255,102,0,.5);
}
nav ul li:hover > a{
  color: yellow;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
#redes-menu-celular{
  display:none;
}
/*==========================CELULAR==========================*/
@media(max-width: 600px){
/*==== MENU > CELULAR =====*/
  #menu{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(../_img/bg_menu.jpg) no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition-duration: 1s;
    z-index: 50;
  }
  #btn_fechar_celuar a{
    decoration: none;
    color: black;
    display: block;
  }
  #btn_fechar_celuar{
    text-align: right;
    position: absolute;
    right: 0;
  }
  #btn_fechar_celuar i{
    font-size: 50px;
    padding: 15px;
  }
  nav ul{
    padding: 50% 50px 30px 50px;
  }
  nav ul li{
    display: block;
    border: 1px solid rgba(0,0,0, .5);
    width: 100%;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgba(0,0,0, .5);
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 15px;
    box-shadow: none;
  }

/*==== Conteúdo > CELULAR =====*/
  body{
    max-width: 600px;
    min-width: 350px;
  }
  header{
    background-image: url(../_img/bg_titulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60px;
    display: flex;
  }

  #esquerda{
    height: 60px;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
  }
  #esquerda a img{
    height: 56px;
    margin-top: 2px;
    margin-left: 10px;
  }
  #esquerda span img{
    height: 30px;
    margin-left: 20px;
    display: inherit;
  }
  #direita{
    width: 60px;
    height: 60px;
  }
  #direita a img{
    margin-top: 4px;
    height: 30px;
    display: inherit;
  }
  
  #galeria{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  #galeria img{
    height: 120%;
  }
  #bemvindo{
    width: 100%;
    height: 100px;
    background: url(../_img/divisor1.jpg) center;
    background-size: cover;
  }
  #mensagem{
    width: 100%;
    padding: 20px;
    font-family: arial, sans-serif;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.4em;
    background: url(../_img/bg.jpg) center no-repeat;
    background-size: cover;
    font-size: 1.0em;
  }
  .citar::before{
    content: '“';
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 5px;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color: #1D0E05;
  }
  
  footer{
    background-color: #1D0E05;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid yellow;
  }
  footer img{
    height: 55px;
  }
  #copyright{
    clear: both;
    background: #F7EDE3;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: normal;
  }
  #fundo{
    background: rgba(0,0,0,.6);
    width: 100%;
    border-width: 25px;
    border-style: solid;
    border-image: url(../_img/Moldura.png) 25 / 25px round;
    color: white;
    text-align: center;
    display: block;
  }
  #fundo a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 40px;
  }
  #redes-menu-celular{
    display:block;
  }
  nav ul li.ativo{
    border-top-color: rgba(0,0,0, .5);
    border-bottom-color: rgba(0,0,0, .5);
    background: black;
  }
}
