#conteudo-fotos{
  margin: 0 auto;
  background: #F7EDE3;
  max-width: 900px;
  height: 600px;
}
#galeria-fotos{
  margin: 0 auto;
  max-width: 900px;
}
#galeria-fotos h2{
  color: white;
  margin-top: 20px;
  text-indent: 5px;
  font-size: 1.5rem;
}
#galeria-fotos i{
  color:rgba(252, 219, 20,.8);
}
#galeria-fotos ul{
  margin-top: 5px;
  padding: 10px;
  list-style: none;
  text-align: center;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  background: rgba(107, 45, 3, 0.5);

}
#galeria-fotos li{
  display: inline-block;
  padding: 0px 20px 0px 20px;
  color: white;
}




